body{
    background-image: url(../images/b.jpg);
    background-size:cover;}
h1 {
    margin-top: 0px;
    color:rgb(58, 7, 99);
    font-weight:bolder;
    font-size:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;}
h2 {
    margin-top: -20px;
    color:blueviolet;
    text-align: center;}

h5 {
    margin-top: -20px;}

h4 {
    text-align: center;}

img {
    width: 400px;
    border-radius: 30px;
    box-shadow: inset;
    border-style:inherit;}
h3 {
    text-align: right;}



.bloque_1{text-align: center;}
.bloque_2{display: flex;
            justify-content: center;
            align-items: center;}
.bloque_3{display: flex;
            justify-content: center;}
.bloque_4{
    display: flex;
    justify-content: center;}
.icono{font-size: 20px;}



