body{
    background-image: url(../images/descarga.jpg);
}
span {
    color:mediumvioletred;
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h2 {
    color:blueviolet;
    text-align: center;
}
h4 {
    text-align: center;
}

img {
    width: 500px;
    padding-left: 400px;
}

p {
    alig
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h3 {
    text-align: right;
}
